.header {
  background-color: #ddd;
  padding: 60px 10px;
  border-bottom: 1px solid #bbb;
  display: flex;              
  align-items: center;       
  justify-content: flex-start; 
}

.header-title {
  font-size: 50px;           
  font-weight: bold;
  margin: 0;                 
  color: #000;               
}
